<tr class="order-item">
    <td>
        <div>
            <span>Item name</span>
            
        </div>
    </td>
    <td>
        <input type="hidden" value="some-value" name="OrderItems[orderItemIndex].MenuItemId"/>
        <input type="number" value="1" min="0" name="OrderItems[orderItemIndex].NumberOfItems" />
    </td>
</tr>
