/Restaurant/.vs/
/Restaurant/Restaurant.DataAccess/bin/
/Restaurant/Restaurant.DataAccess/obj/
/Restaurant/Restaurant.Services/bin/
/Restaurant/Restaurant.Services/obj/
/Restaurant/Restaurant.Web/bin/
/Restaurant/Restaurant.Web/obj/
