@model IEnumerable<Restaurant.Domain.Entities.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>Login</td>
        <td>Name</td>
        <td>Position</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@Html.ActionLink(user.UserName, "Edit","UserAdmin", new {id=user.Id},null)</td>
            <td>@user.FullName</td>
            <td>@user.Position.ToString()</td>
        </tr>
    }
    
</table>
